<div id="sdg_com">
Works you might like to know about:
<a aria-label=" Video about regreening a dry place in Senegal" aria-describedby ="A video describing the use of permaculture in a dry place of Senegal." 
target ="_blank" href="https://www.youtube.com/watch?v=MYMIbLoxW8U&feature=youtu.be"
rel="noopener">Use of permaculture in a dry place of Senegal.</a>
&nbsp;<a aria-label=" Video about regreening a dry place in Jordan" aria-describedby ="A video describing the use of permaculture in a dry place of Jordan." 
target ="_blank" href="https://www.youtube.com/watch?v=EFFFt6G6YNU"
rel="noopener">Use of permaculture in a dry place of Jordan.</a>

<div>


