<div id="sdg_com">
    <h1 class="border-03">
        Works you might like to know about:
    </h1>   
    <a target ="_blank" href="https://youtu.be/09PGpYZlhrw"
        rel="noopener">
        Success against drought.
    </a>
     <br/>
    <a                
        target ="_blank" href="https://www.youtube.com/watch?v=MYMIbLoxW8U&feature=youtu.be"
        rel="noopener">        
        Use of permaculture in a dry place of Senegal.
    </a>
    <br/>
    <a         
        target ="_blank" href="https://www.youtube.com/watch?v=EFFFt6G6YNU"
        rel="noopener">Use of permaculture in a dry place of Jordan.
    </a>   
</div>

<a aria-label="(Hidden), Navigation menu, (aria label)" href="#navbar" >    
</a>

<div 
    role="doc-dedication" 
    aria-roledescription="Work dedicated to my children."
    tabindex="0"
    id="dedicace" (click)=toggleBackground()
      >
    For the lovelies.
</div>

<a aria-label="Link to go to the navigation menu  (aria label)" href="#navbar" >
</a>