<div id="sdg_com">
    <h2 tabindex="0" class="border-03">
        Works you might like to know about:
    </h2>   
    <a                
        target ="_blank" href="https://www.youtube.com/watch?v=MYMIbLoxW8U&feature=youtu.be"
        rel="noopener">        
        Use of permaculture in a dry place of Senegal.
    </a>
    <br/>
    <a         
        target ="_blank" href="https://www.youtube.com/watch?v=EFFFt6G6YNU"
        rel="noopener">Use of permaculture in a dry place of Jordan.
    </a>
</div>

<a aria-label="(Hidden), Navigation menu, (aria label)" href="#navbar" >    
</a>

<div aria-label="Clickable link to display a retriever puppies picture in the background, (aria label)"  
    role="doc-dedication"  
    aria-describedat=" describedat" aria-describedby=" describedby" aria-details="details" 
    aria-labelledby="labelledby" aria-relevant="text" aria-valuetext=" aria value text"
    tabindex="0"
    class="border-03" id="dedicace" (click)=toggleBackground()
      >
    For the lovelies.
</div>

<a aria-label="Link to go to the navigation menu  (aria label)" href="#navbar" >
</a>



