#sdg_com{
    font-size: medium;
    position: relative;
    left: 1em;
    bottom:1em;
    top:1em;
}

#dedicace{
    font-family: Comic, sans-serif;  
    font-size: medium!important;
    text-align: right;
    position:relative;
    right:1em;
    bottom:1em;
    
}