#sdg_com{
    font-size: medium;
    position: relative;
    left: 1em;
    bottom:1em;
    top:1em;
}

#dedicace{    
    font-size: medium!important;
    text-align: right;
    position: relative;
    top:2em;
    right:1em;
    
    
}