<ul id="navbar">
	<!-- Info communicated by NVDA, Orca -->
    <li class="navbar">
        <a href="#addition-area" 
        aria-label="To-do list functionalities (aria label)" > 	<!--  aria-label read by NVDA -->
            To-Do List								<!-- link title read by Orca -->
        </a>
    </li>
    <li class="navbar">
        <a  href="#credits" 
            aria-label="Credits (aria label)" >
            Credits
        </a>
    </li>
    <li class="navbar">
        <a href="#sdg_com" 
        aria-label="Some communication about permaculture (aria label)">
        Works you might like
        </a>
    </li>
</ul>

