#navbar
{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    background-color:#eee;
    height: 2em;;
}

li.navbar
{
    flex-grow:1;    
    text-align: center;
    font-weight: 700;
    font-size: larger;    
}