<ul id="navbar">
    <li class="navbar">
        <a href="#addition-area" 
        aria-label="Link to the to-do list functionalities" >
            To-Do List
        </a>
    </li>
    <li class="navbar">
        <a  href="#credits" 
            aria-label="Link to the credits" >
            Credits
        </a>
    </li>
    <li class="navbar">
        <a href="#sdg_com" 
        aria-label="Link to some communication about permaculture">
        Works you might like
        </a>
    </li>
</ul>

