

#title{
    font-family: Helvetica, Verdana, Arial sans-serif;/* Choice of dylexia friendly fonts */
    /* http://dyslexiahelp.umich.edu/sites/default/files/good_fonts_for_dyslexia_study.pdf */
    text-align: center;
    font-size: 3em;
}


