
<div id="title">An Accessible TODO list</div>

<!-- TODO: modification of the code to avoid overlapping of credits and todo list display   -->
<div id="credits"><u>Credits:</u> 
    <ul>
        <li><a aria-label="link to the Creative Commons Attribution 4.0 license"  href="https://fontawesome.com/icons/trash-alt?style=solid" style="color:black;"><i class="fas fa-trash-alt"></i></a>By FontAwesome, under a <a aria  href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>. No changes were made to the icon.</li>
        <li>Retriever puppies picture by <a aria-label="Credit link to the author of the background picture, Chevanon photography" href="https://www.pexels.com/photo/two-yellow-labrador-retriever-puppies-1108099/">Chevanon photography.</a></li>
    </ul>
</div>
    <div id="dedicace">For the lovelies.</div>

<router-outlet></router-outlet>