<div id="displayArea">
    <div id="clickToAddCategory">
        <form>
            <input [(ngModel)]="category_input_name" name="category_input_name"
            type="text" aria-label="Name of the category to add" 
            required/>
            <button  aria-label="Button to click to add the category" (click)="addCategory()">
                Add the category
            </button>
        </form>
        
        <br>
        {{category_input_name}}
    </div>
    <div id="displayCategories">
        <ul>
            <li *ngFor="let category of categories" id={{category.name}}{{category.id}} value={{category.id}}><i class="fas fa-trash-alt" style="font-size:0.65em;" #category (click)="deleteCategory(category.id)"></i> 
                &nbsp;&nbsp;{{category.name}}                
            </li>
        </ul>
        
    </div>
</div>


