<div id="displayArea">
    <div id="clickToAddCategory">
        <form>
            <input [(ngModel)]="category_input_name" name="category_input_name"
            type="text" aria-label="Name of the category to add" 
            required/>
            <button  aria-label="Button to click to add the category" (click)="addCategory()">
                Add the category
            </button>
        </form>
        
    </div>
    <div id="displayCategories">
        <ul>
            <li *ngFor="let category of categories" id={{category.name}}{{category.id}} value={{category.id}}>
                <i class="fas fa-trash-alt" style="font-size:0.65em;" (click)="deleteCategory(category.id)"></i> 
                &nbsp; 
                <!-- Large clickable area, tabfocus, captions   -->
                <span id='foldUnfoldClickArea' (click)="foldUnfoldCategory(category.id)" aria-role="clickable area"  aria-roledescription="clickable area that unfolds and folds the items contained in the category">
                     <i class="fas fa-plus-circle" style="font-size:0.65em;"></i>
                    {{category.name}}
                </span>
                <div id=items{{category.id}} class="toggleItem">
                    <form>
                        <input [(ngModel)]="item_input_name" name="item_input_name"
                        type="text" aria-label="Name of the item to add to the category" required/>                        
                        <button aria-label="Button to click to add an item to this category" (click)="addItem(category.id)">
                            Add an item to the category
                        </button>
                        <!-- Zone to display the previously registered items -->
                        <li *ngFor="let item of category_items" id={{item.id}}{{item.name}}{{category.id}} >
                            <i clas="fas fa-trash-alt" style="font-size:0.6em;" ></i>
                            {{item.name}}
                        </li>
                    </form>
                </div>          
                
               
            </li>
        </ul>
        
    </div>
</div>


