/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eee; /* Choice of contrast for color-blindness and dyslexia.
     Ref: Cunningham, Katie. Accessibility Handbook: Making 508 Compliant Websites. O'Reilly Media.  */
    color: #111;
    /* Eventually, suppression of the background for dyslexia web acessibility
        Ref: ibid.  */
    background-image: url(./assets/pictures/pexels-chevanon-photography-1108099.jpg);
    background-size: cover;
    /* Choice of a dyslexia-friendly font */
    font-family: Helvetica, sans-serif;
    
}

input{
    border-radius: 2em;
}

button{
    border-radius: 2em;
}
