/* You can add global styles to this file, and also import other style files */
body
{
    background-color:rgb(253, 253, 253); /* Choice of contrast for color-blindness and dyslexia.
     Ref: Cunningham, Katie. Accessibility Handbook: Making 508 Compliant Websites. O'Reilly Media.  */
    color: #111;    
    /* Choice of a dyslexia-friendly font */
    font-family: Helvetica, sans-serif;    
}

h2
{
    font-size: larger;
    text-decoration-line: underline;
}

form
{    
    display: inline-block;
    line-height: 0.25em;
}

input
{   
    position: relative;
    left: 2em;    
}

.text-large
{
    font-size:large;
}
.border-radius-2
{
    border-radius: 2em;
}

.width-fit-content
{
    width:fit-content;
}

.border-02:focus
{
    border: 0.2em solid #111; 
}

.border-03:focus
{
    border: 0.3em solid #111; 
}

.border-04:focus
{
    border: 0.4em solid #111; 
}

.a-black-not-underlined
{
    color:black;
    text-decoration-line: none;
}