/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/pictures/pexels-chevanon-photography-1108099.jpg);
    background-size: cover;
}

input{
    border-radius: 2em;
}

button{
    border-radius: 2em;
}
