
#displayArea{    
    background: rgb(255,255,255,0.5);
    font-size: xx-large;
    height: max-content;
}

#credits{
    font-family: Arial, sans-serif;
    font-size: medium!important;    
    position: relative;
    left:1em;
}

#dedicace{
    font-family: Comic, sans-serif;  
    font-size: medium!important;
    text-align: right;
    position:relative;
    right:1em;
    bottom:1em;
    
}

.icon_plus{
    width:0.8em;
    height:0.8em;  
    position: relative;
    left:-0.4em;  
}

.icon_garbage_can{
    width:1.5em;
    height:1.5em;   
    position:relative;
    bottom:-0.2em; 
}

#category_to_select_field{
    border-radius: 1rem;
}
#clickToAddCategory{
    text-align: center;
    font-size: 2em;
}

.toggleItem{    
    visibility: visible;
    display: block;
    position:relative;
    left:2.3em;
}


.foldUnfoldClickArea {
       
    border-radius: 1rem;
}

#new_category_input_field {
    margin-left: 2em;    
}


