

#display-area
{   
    font-size: xx-large;
    height: max-content;
    width: auto;
}

#addition-area
{
    text-align: center;
    font-size: 2em;
}

.h1-form
{
    font-size:x-large;
    font-weight: normal;    
    padding-left: 1em;    
    margin-bottom: 0;
}

label
{    
    text-align: left;
    color: rgb(0,20,0,1);            
    width: auto;    
}

.category
{
    line-height: 2em;
}

li.no-list-style
{
    list-style-type:none;
}

.icon-garbage-can
{
    width:1.5em;
    height:1.5em;   
    position:relative;
    bottom:-0.3em; 
}

.icon-garbage-can:focus
{
    position:relative;
    bottom:-0.5em;
}

.icon-garbage-can-small
{
    width:1em;
    height:1em;
    position:relative;
    left:-0.1em;
    bottom:-0.1em;
}

.icon-plus
{
    width:0.8em;
    height:0.8em;  
    position: relative;
    left:-0.4em;  
}

.icon-plus:focus
{
    position:relative;
    bottom:-0.2em;
}

.icon-plus-small
{
    width:0.8em;
    height:0.8em;
    position:relative;    
    bottom:-0.1em;    
    margin-right: 0.2em;
}

.toggle-item
{    
    visibility: visible;
    display: block;
    position:relative;
    left:2.3em;
}

#credits
{
    font-family: Arial, sans-serif;
    font-size: medium!important;    
    position: relative;
    left:1em;
}

#credits a 
{
    color:black;
    text-decoration-line: none;    
}

.retriever-picture-credit
{
    position: relative;
    left:0.3em;
}
