
#displayArea{
    background: rgb(255,255,255,0.5);
    font-size: 2em;
}

#clickToAddCategory{
    text-align: center;
    font-size: 2em;
}

.toggleItem{    
    visibility: hidden;
    display: none;
    position:relative;
    left:2.3em;
}

span:hover {
    background-color:rgb(255,255,255,0.75);
    border-radius: 1rem;
}

/* Alignment of the new category input field and the drop-down list */
#new_category_input_field {
    margin-left: 2em;    
}

